{% extends 'base.html' %}


{% block title %}
SGE - Fornecedor
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Deletar Fornecedor</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza que deseja excluir o fornecedor <strong>{{object.name}}</strong> ?</p>
            <form method="post">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger">Deletar</button>
                <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Voltar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
